<mat-card>
  <mat-card-title class="d-flex">
    <div class="mr-auto">{{ title }}</div>
    <div>
      <button mat-raised-button *ngIf="hasCopyToClipboard" [cdkCopyToClipboard]="getCopiedValue()">
        Copy to clipboard
      </button>
      <button
        mat-raised-button
        *ngIf="hasQuickAdd"
        (click)="addNewTask()"
        [color]="'primary'"
        class="ml-1"
      >
        <mat-icon>add</mat-icon> Add
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="hasFilter">
      <app-tasks-filter (filterChange)="onFilterChange($event)"></app-tasks-filter>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="storyPoints">
        <mat-header-cell *matHeaderCellDef>Story points</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.storyPoints }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.category }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <button mat-raised-button (click)="editTask(task)" class="ml-1">Edit</button>
          <button mat-raised-button (click)="deleteTask(task)" class="ml-1">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClicked(row)"
      ></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-actions *ngIf="hasQuickAdd"> </mat-card-actions>
</mat-card>
