<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <h2>List of all tasks</h2>
    </mat-card-header>
    <mat-card-content>
      <app-tasks-list
        (addNew)="onAdd($event)"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (import)="onImport($event)"
      >
      </app-tasks-list>
    </mat-card-content>
  </mat-card>
</div>
