<form [formGroup]="form" class="row">
  <mat-form-field class="col">
    <span matPrefix><mat-icon>search</mat-icon> &nbsp;</span>
    <input matInput formControlName="description" [placeholder]="'Description'" />
  </mat-form-field>
  <mat-form-field class="col">
    <mat-select formControlName="category" [placeholder]="'Category'">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let category of categoryKeys" [value]="categories[category]">
        {{ categories[category] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
