<mat-divider></mat-divider>
<div class="row d-flex">
  <div class="col-2 align-self-center">
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip selected [color]="'primary'" class="justify-content-center">
        {{ individualEstimation.storyPointsSum }}
      </mat-chip>
      <mat-chip selected [color]="'accent'" class="justify-content-center">
        {{ individualEstimation.username }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="col p-3">
    <app-tasks-table
      [tasks]="individualEstimation.pickedTasks"
      [displayedColumns]="displayedColumns"
      [hasFilter]="false"
      [hasQuickAdd]="false"
    ></app-tasks-table>
  </div>
</div>
