<button mat-button [matMenuTriggerFor]="menu">
  {{ currentLogin }} <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <ng-container [ngSwitch]="isAuthenticated">
    <button *ngSwitchCase="true" mat-menu-item (click)="onLogout()">Logout</button>
    <a *ngSwitchCase="false" mat-menu-item [routerLink]="['/', 'auth', 'login']"> Login </a>
  </ng-container>
</mat-menu>
