<div *ngIf="!teamReady">
  <div class="row">
    <div class="col-1"><h5>Ready:</h5></div>
    <div class="col">
      <mat-chip-list>
        <mat-chip
          *ngFor="let estimation of estimations"
          selected
          [color]="'accent'"
          class="justify-content-center"
        >
          {{ estimation.username }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <p>Waiting for the whole team...</p>
</div>
<mat-spinner *ngIf="!teamReady; else teamEstimations"></mat-spinner>
<ng-template #teamEstimations>
  <ul class="team-estimations">
    <li *ngFor="let estimation of estimations">
      <app-team-estimation-entry [individualEstimation]="estimation"></app-team-estimation-entry>
    </li>
  </ul>
</ng-template>
