<form #loginForm="ngForm" [formGroup]="form" [class.form-submitted]="loginForm.submitted">
  <mat-card-title class="title-login">Login</mat-card-title>
  <mat-card-content>
    <mat-form-field class="col-md-10">
      <input
        id="login-input"
        matInput
        type="text"
        formControlName="username"
        placeholder="username"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div class="checkbox-and-button">
      <div class="login-button-container login-button">
        <button mat-raised-button color="primary" (click)="register()">Register</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
      </div>
    </div>
  </mat-card-actions>
</form>
