<mat-toolbar role="heading">
  <a [routerLink]="['/tasks']">Tasks</a>
  <a [routerLink]="['/estimations']">Estimations</a>
  <a [routerLink]="['/users']">Users</a>
  <span class="fill-space"></span>
  <app-user-menu></app-user-menu>
</mat-toolbar>
