.mat-column-select {
  flex: 0 0 5%;
}

.mat-column-description {
  flex: 0 0 50%;
}

mat-row:hover {
  background: whitesmoke;
}

mat-row:active {
  background: #efefef;
}

.picked-summary-row {
  background: white;
}

.picked-summary-row.all {
  // background: #4caf50;
  background: #009688;
}
