<div class="container login-page login-page__card">
  <mat-card>
    <div>
      <form
        #loginForm="ngForm"
        [formGroup]="form"
        (ngSubmit)="authorize()"
        [class.form-submitted]="loginForm.submitted"
      >
        <mat-card-title class="title-login">Login</mat-card-title>
        <mat-card-content>
          <p>{{ message }}</p>
          <mat-form-field class="col-md-10">
            <mat-label>Username</mat-label>
            <mat-select formControlName="username">
              <mat-option *ngFor="let username of registeredUsers | async" [value]="username">
                {{ username }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        </mat-card-content>
        <mat-card-actions>
          <div class="checkbox-and-button">
            <div
              class="login-button-container login-button"
              [class.inactive]="authorizationInProgress"
            >
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="authorizationInProgress"
              >
                Login
              </button>
              <button mat-raised-button (click)="register()" [disabled]="authorizationInProgress">
                Register
              </button>
            </div>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>
